.item {
  background-color: #fff;
  cursor: pointer;
  display: flex;
  padding: 1rem;
  position: relative;
}

.item::before {
  border-bottom: 1px solid #eeeeee;
  bottom: 0;
  content: "";
  height: 1px;
  position: absolute;
  width: 95%;
}

.item:last-child::before {
  border: none;
}

.item-info {
  margin-left: 1rem;
}

.top-block {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
  margin-top: 0.6rem;
}

.item-location {
  position: absolute;
  right: 10rem;
}

.item-title {
  color: #333333;
  font-size: 1.125rem;
  max-width: 400px;
}
