.search-bar {
  align-items: center;
  background-color: #ffe600;
  padding: 0.5rem 0;
}

.search-bar .logo {
  grid-column: col-start 2;
  width: 55px;
}

.search-bar .search-input-component {
  grid-column: col-start 3 / span 9;
}
