.search-bar {
  align-content: center;
  background-color: #ffe600;
  height: 70px; /*Change*/
}

.search-bar .logo {
  grid-column: col-start 2;
  width: 60px;
}

.search-bar .search-input-component {
  grid-column: col-start 3 / span 9;
}
