.product-container {
  background-color: #fff;
  display: flex;
  margin-top: 2rem; /*simulating breadcrumb*/
}

.left-block,
.right-block {
  padding-top: 2rem;
  padding-left: 2rem;
}

.right-block {
  padding-right: 2rem;
}
/* May recomponentize (?) */

.title {
  margin: 0;
  margin-bottom: 2rem;
  max-width: 300px;
}
